body{
    background: white;
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
}
.titre{
    background-color: #0055A4;
    margin: 2%;
    padding: 1%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    margin: 2%;
    padding: 1%;
    background-color: #D3D3D3;
}
.carte{
    display: flex;
    justify-content: space-around;
}
#map{
    width: 35vw;
    height: 65vh;
    border: solid 10px #0055A4;
}
.titre1{
    color: #0055A4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
  
      label {
        color: #0055A4;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
  
      input[type="text"] {
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: none;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
  
      button {
        background-color: #0055A4;
        color: #fff;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s ease;
  
        &:hover {
          background-color: #fff;
          color: #0055A4;
        }
      }
    }
  
    h2 {
      color: #0055A4;
      margin-bottom: 1rem;
    }
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
  
      h3, h4 {
        color: #0055A4;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
      }
  
      li {
        margin-bottom: 1rem;
      }
    }
  }
  .RegisterForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  
    label {
      margin-top: 1rem;
      font-size: 1.2rem;
      font-weight: bold;
      color: #0055A4;
    }
  
    input[type="email"],
    input[type="password"] {
      width: 50%;
      margin-top: 0.5rem;
      padding: 0.5rem;
      border-radius: 5px;
      border: none;
      font-size: 1.2rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px #0055A4;
      }
    }
  
    button[type="submit"] {
    background-color: #0055A4;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 1rem;

    &:hover {
      background-color: #fff;
      color: #0055A4;
    }
  }
  
    a {
      margin-top: 1rem;
      font-size: 1.2rem;
      color: #0055A4;
      text-decoration: underline;
      margin-bottom: 1rem;
    }
  }
  .LoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  
    label {
      margin-top: 1rem;
      font-size: 1.2rem;
      font-weight: bold;
      color: #0055A4;
    }
  
    input[type="email"],
    input[type="password"] {
      width: 50%;
      margin-top: 0.5rem;
      padding: 0.5rem;
      border-radius: 5px;
      border: none;
      font-size: 1.2rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px #0055A4;
      }
    }
  
    button[type="submit"] {
      background-color: #0055A4;
      color: #fff;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      transition: all 0.3s ease;
      margin-top: 1rem;
  
      &:hover {
        background-color: #fff;
        color: #0055A4;
      }
    }
  
    a {
        margin-top: 1rem;
        font-size: 1.2rem;
        color: #0055A4;
        text-decoration: underline;
        margin-bottom: 1rem;
      }
  }
  