.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #0055A4;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* Remove underline from links */
  a {
    text-decoration: none;
    color: inherit;
  }
}

/* Dark mode styles */
.darkMode {
  background-color: #0055A4;
  color: #fff;

  a {
    color: inherit;
  }
}

.button {
  background-color: #0055A4;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #fff;
    color: #0055A4;
  }
}

.crimes {
  color: #fff;
}

.user {
  width: 50%;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
}