.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #0055A4;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  a {
    text-decoration: none;
    color: inherit;
  }

  .couleur {
    color: #fff;
  }

  .image {
    width: 3vw;
    margin-left: 10px;

    &:hover {
      transform: scale(1.2);
    }
  }
}
.tel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}